.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-style {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: larger;
  margin-left: 40px;
}

.layout {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.btn-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.up-layout {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.down-layout {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.type-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.ant-btn {
  display: block;
  margin: 30px;
}

:where(.css-dev-only-do-not-override-18iikkb).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: rgb(153, 152, 152);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}